/.gradle
*/bin/
*/build/
*/.gradle
*/.settings
*/.classpath
*/.recommenders
*.log
*.out

ComputerVision/venv/*

*.idea
*.bak
/logs/
/resources
/.metadata/
gradlew
*.iml
.DS_Store
/extLibs
*.hprof
gradle.properties
pages/
**/.metadata
**/*.class
